.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 221.22px;
  height: 57px;
  background: #1a1a1a;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
